@import url('@common/common.less');

.mx-skeleton-animate {
    background: linear-gradient(
        90deg,
        @BORDER_COLOR 25%,
        @GRAY_BG_COLOR 37%,
        @BORDER_COLOR 63%
    ) !important;
    background-size: 400% 100% !important;
    animation: mx-skeleton-loading 1.4s ease infinite;
}

@keyframes mx-skeleton-loading {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.mx-skeleton-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 400rpx;
    height: 40rpx;
    border-radius: 8rpx;
    background-color: @BORDER_COLOR;
}
